{
  "presets": ["@babel/env"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@": ["."],
          "@router": ["./router"],
          "@utility": ["./utility"],
          "@model": ["./model"],
          "@database": ["./database"],
          "@middleware": ["./middleware"],
          "@socket": ["./socket"],
          "@game": ["./game"]
        }
      }
    ]
  ]
}
