html {
  background-color: black;
}

body {
  margin: 0;
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#bgm {
  position: fixed;
  width: 100px;
  height: 50px;
  left: 0;
}

#messages {
  border: 2px solid black;
  border-top: none;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  bottom: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}

#messages li {
  padding: 5px 10px;
}

#form {
  display: flex;
  width: fit-content;
}

#input {
  width: 900px;
  height: 38px;
  border: 2px solid black;
  box-sizing: border-box;
  border-top: none;
  padding: 10px;
}

#submit {
  width: 100px;
  height: 38px;
  border: none;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background: rgb(238, 238, 238);
}

#gameRoomContain {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
}

#gameRoom {
  display: block;
  width: 1200px;
  height: 520px;
  background: rgb(243, 243, 243);
  border: 2px solid black;
  border-left: none;
  box-sizing: border-box;
}

#lobbyTopContain {
  display: flex;
}

#gameEnteranceContain {
  border: 2px solid black;
  box-sizing: border-box;
  width: 1000px;
  height: 520px;
  background-color: rgb(118, 157, 197);
}

.topBtn {
  border: 2px solid black;
  border-bottom: none;
  box-sizing: border-box;
  display: inline-flex;
  width: 140px;
  height: 38px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  background-color: rgb(118, 157, 196);
  margin-right: 10px;
}

.gameRoomEnterance {
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
  height: 80px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}
.enteracneTitle {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 23px;
}

.enteracneInfo {
  color: gray;
}

.enteracneTitleAndInfo {
  width: 250px;
}

.enteracneMemberAndIsPasswordRoom {
  width: 70px;
}

.enteracneNumber {
  font-size: 27px;
  text-align: center;
  width: 80px;
}

.enteracneMemberInfo {
  font-size: 27px;
}

#left {
  display: inline-block;
  width: fit-content;
  margin-top: 38px;
  height: 708px;
  background-color: white;
}

#ranking {
  width: 200px;
  height: 520px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

#myInfo {
  display: flex;
  width: 200px;
  height: 188px;
  background-color: rgb(217, 217, 217);
  box-sizing: border-box;
  border-bottom: 2px solid black;
}

#right {
  display: inline-block;
  width: fit-content;
}

#myCharacter {
  display: inline-block;
  height: fit-content;
  padding-top: 30px;
  padding-left: 10px;
}

#myNickname {
  margin-bottom: 10px;
}

#nicknameAndLevel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 88px;
  font-size: 12px;
  padding-top: 30px;
  padding-left: 10px;
}

#gameRoomBtnContain {
  background-color: black;
}

#waitRoomText {
  border-left: none;
  background: rgb(243, 243, 243);
}

#changeGameRoomSettingBtn {
  background-color: rgb(217, 217, 217);
}

#startBtn {
  background-color: rgb(255, 198, 127);
}

#titleAndSetting {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#member {
  display: flex;
}

.member {
  display: inline-flex;
  width: 264px;
  height: 200px;
  background-color: white;
  margin-left: 20px;
  background-color: rgb(217, 217, 217);
}

.characterAndUserInfo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.userState {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
